@use 'sass:color';
@use 'sass:string';

$colors: (
    primary: #fb8071,
    primary-emphasis: #e58073,
    primary-subtle: #ffbbb2,
    secondary: #fdb56d,
    secondary-emphasis: #d99b5d,
    muted: #bfbfbf,
    background: #fff4f2,
);

$dark: (
    primary-emphasis: #ffa599,
    primary-subtle: #b27b74,
    secondary: #d99b5d,
    secondary-emphasis: #fdb56d,
    background: #332524,
);

@mixin base-color($colors) {
    @each $name, $color in $colors {
        --color-#{$name}: #{$color};
        --color-#{$name}-rgb: #{color.channel($color, 'red')
            color.channel($color, 'green')
            color.channel($color, 'blue')};
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    @include base-color($colors);
    &.dark {
        @include base-color($dark);
    }
}

body {
    font-family: 'Huninn', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
}

p {
    line-height: 1.25;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    line-height: 1;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

@each $name, $color in $colors {
    @if $name == 'background' {
        .text-inverse {
            color: var(--color-#{$name});
        }
        .bg-default {
            background-color: var(--color-#{$name});
        }
    } @else if string.slice($name, -8) == 'emphasis' {
        button.text-#{string.slice($name, 1, -10)}:hover,
        a.text-#{string.slice($name, 1, -10)}:hover {
            color: var(--color-#{$name});
        }
        button.bg-#{string.slice($name, 1, -10)}:hover,
        a.bg-#{string.slice($name, 1, -10)}:hover {
            background-color: var(--color-#{$name});
        }
    } @else {
        .text-#{$name} {
            color: var(--color-#{$name});
        }
        .bg-#{$name} {
            background-color: var(--color-#{$name});
        }
    }
}

.d-flex-row {
    display: flex;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
}
